.weatherCardBasicStyles{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 135px;
    padding: 10px;
}

.weatherCardLight{
    background-color: #fff;
}

.weatherCardDark{
    background-color: #ccd9ff;
}

.weatherTextTop{
    font-family:Didot, serif;
}

.weatherIcon{
    width:96px;
    height: 96px;
}

.weatherTextBottom{
    font-family:Didot, serif;
    display: flex;
}

.minWeatherTextBottom{
    opacity: 0.4;
}