body {
    margin: 0;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 5px;
}

.searchBarInputDark {
    background-color: #4080bf;
    color: ghostwhite;
}

.forecastWeatherInfo {
    border: 1px solid black;
    padding-left: 30px;
}

.forecastToday{

}

.forecastTomorrow{

}

.forecastAfterTomorrow{

}