* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.appWindow {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.lightTheme {
    background-color: #fff;
}

.darkTheme {
    background-color: #204060;
}

.appWindowContent{
    display: flex;
    justify-content: center;
}

.appWindowLinks {
    height: 50px;
}