.calculatorButton {
  height: 100px;
  width:  100px;
  border: 1px solid black;
}

.lightThemeCalculatorButton {
  background-color: #fff;
}

.darkThemeCalculatorButton {
  background-color: #4080bf;
  color: ghostwhite;
}