.post {
  display: flex;
  padding: 15px;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;

    &--Light{
      border: 2px solid black;
    }

    &--Dark{
      border: 2px solid ghostwhite;
    }

    &__item--Dark{
      color:ghostwhite;
    }

}