.weatherAdditionalInfoWindowLight{
    background-color: whitesmoke;
    width: 450px;
    padding-bottom: 15px;
}

.weatherAdditionalInfoWindowDark{
    background-color: #4080bf;
    width: 450px;
    padding-bottom: 15px;
}

.weatherMessageLight{
    font-family: Gill Sans, sans-serif;
    padding: 25px 20px;
}

.weatherMessageDark{
    font-family: Gill Sans, sans-serif;
    padding: 25px 20px;
    color: ghostwhite;
}

.additionalInfo{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 450px;
    padding: 0 20px;
    flex-wrap: wrap;
}

.CardElementLight{
    flex-basis: 31%;
    border-radius: 15px;
    font-family:Didot, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    text-align: center;
    padding: 20px;
}

.CardElementDark{
    flex-basis: 31%;
    border-radius: 15px;
    font-family:Didot, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ccd9ff;
    text-align: center;
    padding: 20px;
}

.valueNumbers{
    font-family:Didot, serif;
    font-size: 17px;
}