.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;

    &--light{
        background-color: #fff;
    }

    &--dark{
        background-color: #204060;
    }

    &__tab--light {
        font-size: 20px;
        text-decoration: none;
        color: gray;
        padding-bottom: 10px;
        border-bottom: 3px solid transparent;

        &:hover{
            border-bottom: 3px solid green;
        }
    }

    &__tab--dark {
        font-size: 20px;
        text-decoration: none;
        color: #b3cce6;
        padding-bottom: 10px;
        border-bottom: 3px solid transparent;

        &:hover{
            border-bottom: 3px solid #1a53ff;
        }
    }

    &__tab--selected--light {
        border-bottom: 3px solid green;
        color: black;
    }

    &__tab--selected--dark {
        border-bottom: 3px solid #1a53ff;
        color: ghostwhite;
    }
}