.weatherListLight{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px 0;
    width: 450px;
    background-color: whitesmoke;
}

.weatherListDark{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px 0;
    width: 450px;
    background-color: #4080bf;
}
