.default {
    padding: 5px;

}

.small{
    padding: 5px;
    border-radius: 5px;
}

.medium {
    padding: 10px;
    border-radius: 7px;
}

.large{
    padding: 15px;
    border-radius: 10px;
}

.backgroundColorPrimaryLight{
    background-color: limegreen;
}

.backgroundColorPrimaryDark{
    background-color: #4775d1;
}

.backgroundColorPrimaryLight .textColorClass{
    color:white;
}

.backgroundColorPrimaryDark .textColorClass{
    color: ghostwhite;
}

.backgroundColorPrimaryLight:hover{
    background-color: darkgreen;
}

.backgroundColorPrimaryDark:hover{
    background-color: #0000ff;
}

.backgroundColorPrimaryLight.disabled{
    background-color: grey;
}

.backgroundColorPrimaryDark.disabled{
    background-color: grey;
}

.backgroundColorSecondary {
    background-color: white;
    border-color:limegreen;
}

.backgroundColorSecondary .textColorClass{
    color: limegreen;
}

.backgroundColorSecondary:hover {
    background-color: limegreen;
}

.backgroundColorSecondary:hover .textColorClass{
    color:white;
}

.backgroundColorSecondary.disabled{
    background-color: white;
    border-color: grey;
}

.backgroundColorSecondary.disabled .textColorClass{
    color: grey;
}
